---
http_interactions:
- request:
    method: get
    uri: http://webservices.nextbus.com/service/publicXMLFeed?a=sf-muni&command=routeList
    body: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body: ! "<?xml version=\"1.0\" encoding=\"utf-8\" ?> \n<body copyright=\"All data
      copyright San Francisco Muni 2012.\">\n<route tag=\"F\" title=\"F-Market &amp;
      Wharves\"/>\n<route tag=\"J\" title=\"J-Church\"/>\n<route tag=\"KT\" title=\"KT-Ingleside/Third
      Street\"/>\n<route tag=\"L\" title=\"L-Taraval\"/>\n<route tag=\"M\" title=\"M-Ocean
      View\"/>\n<route tag=\"N\" title=\"N-Judah\"/>\n<route tag=\"NX\" title=\"NX-N
      Express\"/>\n<route tag=\"1\" title=\"1-California\"/>\n<route tag=\"1AX\" title=\"1AX-California
      A Express\"/>\n<route tag=\"1BX\" title=\"1BX-California B Express\"/>\n<route[...]
- request:
    method: get
    uri: http://webservices.nextbus.com/service/publicXMLFeed?a=sf-muni&command=routeConfig&r=21
    body: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body: ! "<?xml version=\"1.0\" encoding=\"utf-8\" ?> \n<body copyright=\"All data
      copyright San Francisco Muni 2012.\">\n<route tag=\"21\" title=\"21-Hayes\"
      color=\"660000\" oppositeColor=\"ffffff\" latMin=\"37.7729599\" latMax=\"37.7944299\"
      lonMin=\"-122.46384\" lonMax=\"-122.39323\">\n<stop tag=\"6497\" title=\"Steuart
      St &amp; Mission St\" lat=\"37.7933499\" lon=\"-122.39323\" stopId=\"16497\"/>\n<stop
      tag=\"6501\" title=\"Steuart St &amp; Market St\" lat=\"37.7944299\" lon=\"-122.3945499\"
      stopId=\"16501\"/>\n<stop tag=\"5669\" title=\"Market St &amp; Drumm St\" lat=\"37.79347\"
      lon=\"-122.3961799\" stopId=\"15669\"/>\n<stop tag=\"5671\" title=\"Market St
      &amp; Front St\" lat=\"37.79192\" lon=\"-122.3981499\" stopId=\"15671\"/>\n<stop
      tag=\"568[...]
[...]
- request:
    method: get
    uri: http://webservices.nextbus.com/service/publicXMLFeed?a=sf-muni&command=predictions&d=38_IB3&r=38&s=15511
    body: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body: ! "<?xml version=\"1.0\" encoding=\"utf-8\" ?> \n<body copyright=\"All data
      copyright San Francisco Muni 2012.\">\n<predictions agencyTitle=\"San Francisco
      Muni\" routeTitle=\"38-Geary\" routeTag=\"38\" stopTitle=\"Fort Miley Hospital\"
      stopTag=\"15511\">\n  <direction title=\"Inbound to Downtown\">\n  <prediction
      epochTime=\"1354641000000\" seconds=\"178\" minutes=\"2\" isDeparture=\"true\"
      affectedByLayover=\"true\" dirTag=\"38_IB3\" vehicle=\"6237\" block=\"3811\"
      tripTag=\"5234655\" />\n  <prediction epochTime=\"1354641900000\" seconds=\"1078\"
      minutes=\"17\" isDeparture=\"true\" affectedByLayover=\"true\" dirTag=\"38_IB3\"
      vehicle=\"6408\" block=\"3813\" tripTag=\"5234657\" />\n  <prediction epochTime=\"1354642860000\"
      seconds=\"2038\" minutes=\"33\" isDeparture=\"true\" affectedByLayover=\"true\"
      dirTag=\"38_IB3\" vehicle=\"6414\" block=\"3801\" tripTag=\"5234659\" />\n  <prediction
      epochTime=\"1354643820000\" seconds=\"2998\" minutes=\"49\" isDeparture=\"true\"
      affectedByLayover=\"true\" dirTag=\"38_IB3\" vehicle=\"6240\" block=\"3802\"
      tripTag=\"5234661\" />\n  <prediction epochTime=\"1354644780000\" seconds=\"3958\"
      minutes=\"65\" isDeparture=\"true\" affectedByLayover=\"true\" dirTag=\"38_IB3\"
      vehicle=\"6269\" block=\"3817\" tripTag=\"5234662\" />\n  </direction>\n<message
      text=\"sfmta.com or 3 1 1 for Muni info\"/>\n<message text=\"PROOF OF PAYMENT
      is required when on a Muni vehicle or in a station\"/>\n</predictions>\n</body>\n"
  recorded_at: Tue, 04 Dec 2012 17:07:02 GMT
[...]
- request:
    method: get
    uri: http://webservices.nextbus.com/service/publicXMLFeed?a=sf-muni&command=predictions&d=38_OB3&r=38&s=7620
    body: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body: ! "<?xml version=\"1.0\" encoding=\"utf-8\" ?> \n<body copyright=\"All data
      copyright San Francisco Muni 2012.\">\n<predictions agencyTitle=\"San Francisco
      Muni\" routeTitle=\"38-Geary\" routeTag=\"38\" s[...]
