---
http_interactions:
- request:
    method: get
    uri: http://webservices.nextbus.com/service/publicXMLFeed?a=sf-muni&command=routeConfig&r=38
    body: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body: ! "<?xml version=\"1.0\" encoding=\"utf-8\" ?> \n<body copyright=\"All data
      copyright San Francisco Muni 2012.\">\n<route tag=\"38\" title=\"38-Geary\"
      color=\"ff6633\" oppositeColor=\"000000\" latMin=\"37.7759999\" latMax=\"37.7917499\"
      lonMin=\"-122.50941\" lonMax=\"-122.3933\">\n<stop tag=\"7620\" title=\"Main
      St &amp; Howard St\" lat=\"37.7905499\" lon=\"-122.3933\" stopId=\"17620\"/>\n<stop
      tag=\"5579\" title=\"Mission St &amp; Beale St\" lat=\"37.7911399\" lon=\"-122.39592\"
      stopId=\"15579\"/>\n<stop tag=\"4725\" title=\"Fremont St &amp; Market St\"
      lat=\"37.7916499\" lon=\"-122.3981499\" stopId=\"14725\"/>\n<stop tag=\"5689\"
      title=\"Market St &amp; Sansome St\" lat=\"37.79016\" lon=\"-122.4004099\" stopId=\"15689\"/>\n<stop
      tag=\"5684\[...]
- request:
    method: get
    uri: http://webservices.nextbus.com/service/publicXMLFeed?a=sf-muni&command=predictions&d=38_IB3&r=38&s=15511
    body: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body: ! "<?xml version=\"1.0\" encoding=\"utf-8\" ?> \n<body copyright=\"All data
      copyright San Francisco Muni 2012.\">\n<predictions agencyTitle=\"San Francisco
      Muni\" routeTitle=\"38-Geary\" routeTag=\"38\" stopTitle=\"Fort Miley Hospital\"
      stopTag=\"15511\">\n  <direction title=\"Inbound to Downtown\">\n  <prediction
      epochTime=\"1353521580000\" seconds=\"565\" minutes=\"9\" isDeparture=\"true\"
      affectedByLayover=\"true\" dirTag=\"38_IB3\" vehicle=\"6210\" block=\"3817\"
      tripTag=\"5234662\" />\n  <prediction epochTime=\"1353522540000\" seconds=\"1525\"
      minutes=\"25\" isDeparture=\"true\" affectedByLayover=\"true\" dirTag=\"38_IB3\"
      vehicle=\"6407\" block=\"3804\" tripTag=\"5234664\" />\n  <prediction epochTime=\"1353523500000\"
      seconds=\"2485\" minutes=\"41\" isDeparture=\"true\" affectedByLayover=\"true\"
      dirTag=\"38_IB3\" vehicle=\"6259\" block=\"3805\" tripTag=\"5234666\" />\n  <prediction
      epochTime=\"1353524460000\" seconds=\"3445\" minutes=\"57\" isDeparture=\"true\"
      affectedByLayover=\"true\" dirTag=\"38_IB3\" vehicle=\"6418\" block=\"3807\"
      tripTag=\"5234668\" />\n  <prediction epochTime=\"1353525360000\" seconds=\"4345\"
      minutes=\"72\" isDeparture=\"true\" affectedByLayover=\"true\" dirTag=\"38_IB3\"
      vehicle=\"6421\" block=\"3809\" tripTag=\"5234670\" />\n  </direction>\n<message
      text=\"sfmta.com or 3 1 1 for Muni info\"/>\n<message text=\"PROOF OF PAYMENT
      is required when on a Muni vehicle or in a station\"/>\n</predictions>\n</body>\n"
  recorded_at: Wed, 21 Nov 2012 18:03:36 GMT
[...]
