---
http_interactions:
- request:
    method: get
    uri: http://webservices.nextbus.com/service/publicXMLFeed?a=sf-muni&command=routeConfig&r=21
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
      X-Pad:
      - avoid browser bug
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\" ?> \n<body copyright=\"All
        data copyright San Francisco Muni 2013.\">\n<route tag=\"21\" title=\"21-Hayes\"
        color=\"660000\" oppositeColor=\"ffffff\" latMin=\"37.7729599\" latMax=\"37.7944299\"
        lonMin=\"-122.46384\" lonMax=\"-122.39323\">\n<stop tag=\"6497\" title=\"Steuart
        St &amp; Mission St\" lat=\"37.7933499\" lon=\"-122.39323\" stopId=\"16497\"/>\n<stop
        tag=\"6501\" title=\"Steuart St &amp; Market St\" lat=\"37.7944299\" lon=\"-122.3945499\"
        stopId=\"16501\"/>\n<stop tag=\"5669\" title=\"Market St &amp; Drumm St\"
        lat=\"37.79347\" lon=\"-122.3961799\" stopId=\"15669\"/>\n<stop tag=\"5671\"
        title=\"Market St &amp; Front St\" lat=\"37.79192\" lon=\"-122.3981499\" stopId=\"15671\"/>\n<stop
     [...]
- request:
    method: get
    uri: http://webservices.nextbus.com/service/publicXMLFeed?a=sf-muni&command=routeConfig&r=2424
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
      X-Pad:
      - avoid browser bug
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\" ?> \n<body copyright=\"All
        data copyright San Francisco Muni 2013.\">\n<Error shouldRetry=\"false\">\n
        \ Could not get route \"2424\" for agency tag \"sf-muni\". \nOne of the tags
        could be bad.\n</Error>\n</body>\n"
  recorded_at: Tue, 26 Mar 2013 19:47:39 GMT
[...]
