---
http_interactions:
- request:
    method: get
    uri: http://webservices.nextbus.com/service/publicXMLFeed?a=sf-muni&command=routeConfig&r=2424
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
      X-Pad:
      - avoid browser bug
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\" ?> \n<body copyright=\"All
        data copyright San Francisco Muni 2013.\">\n<Error shouldRetry=\"false\">\n
        \ Could not get route \"2424\" for agency tag \"sf-muni\". \nOne of the tags
        could be bad.\n</Error>\n</body>\n"
  recorded_at: Tue, 26 Mar 2013 19:47:39 GMT
- request:
    method: get
    uri: http://webservices.nextbus.com/service/publicXMLFeed?a=sf-muni&command=routeConfig&r=24
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
      X-Pad:
      - avoid browser bug
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\" ?> \n<body copyright=\"All
        data copyright San Francisco Muni 2013.\">\n<route tag=\"24\" title=\"24-Divisadero\"
        color=\"996699\" oppositeColor=\"000000\" latMin=\"37.7340899\" latMax=\"37.7927199\"
        lonMin=\"-122.44108\" lonMax=\"-122.39093\">\n<stop tag=\"3541\" title=\"30th
        St &amp; Mission St\" lat=\"37.7423099\" lon=\"-122.42217\" stopId=\"13541\"/>\n<stop
        tag=\"4157\" title=\"Cortland Ave &amp; Mission St\" lat=\"37.74085\" lon=\"-122.42251\"
        stopId=\"14157\"/>\n<stop tag=\"4161\" title=\"Cortland Ave &amp; Prospect
        Ave\" lat=\"37.7402\" lon=\"-122.42093\" stopId=\"14161\"/>\n<stop tag=\"4150\"
        title=\"Cortland Ave &amp; Elsie St\" lat=\"37.7397\" lon=\"-122.41969\" stopId=\"14150\"/>\n<stop
     [...]
